[elasticsearch-{{ elasticsearch.version }}]
name=Elasticsearch repository for {{ elasticsearch.version }} packages
baseurl=http://artifacts.elastic.co/packages/{{ elasticsearch.version }}/yum
gpgcheck=1
gpgkey=http://artifacts.elastic.co/GPG-KEY-elasticsearch
enabled=1
autorefresh=1
type=rpm-md
